[submodule "ohmyzsh"]
	path = ohmyzsh
	url = https://github.com/FirasHojirat/ohmyzsh
[submodule "asdf"]
	path = asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule "/Users/firash/.dotfiles/bash-it"]
	path = /Users/firash/.dotfiles/bash-it
	url = https://github.com/Bash-it/bash-it.git
